body 
{
    font-size:1.0em;
}

.flex-container
{
    display:flex;
    justify-content:center;
    height:200px;
    background-color:#cac4c4;
}

.flex-container div
{
    background-color:#f1f68a;
    width:300px;
    margin:20px;
    padding:10px;
    font-size: 1.4em;
}

.navbar-brand img
{
    height:50px;
}

footer
{
    margin:100px;
}