body 
{
    font-size:1.0em;
}

.flex-container
{
    display:flex;
    max-width: 1400px;
    margin: 40px auto 0 auto;
    background-color:#cac4c4;
    padding:10px;
}

.flex-item
{
    background-color:#f1f68a;
    width: 30%;
    box-sizing: border-box;
    padding:20px;
    font-size: 1.4em;
    margin:20px;
}

@media (min-width:700px)
{
    .flex-item
    {
        /*display: flex;
        justify-content: space-between;*/
    }
}

.navbar-brand img
{
    height:50px;
}

footer
{
    margin:100px;
}