
@{
    Layout = null;
}

<!DOCTYPE html>
@{
    Layout = "_Layout";
}
<div class="container">
    <header class="jumbotron">
        <h1>Index View</h1>
    </header>
    <section class="flex-container">
        @foreach (string item in Model)
        {
            <div class="flex-item">@item</div>
        }
    </section>
</div>

