@using Core2EmptyExample.Models;
@{
    Layout = "_Layout";
    string name;
    decimal price;
    string related;
}

<header class="jumbotron">
    <h1>Products View</h1>
</header>
<section class="flex-container">
    @foreach (Product item in Model)
    {
        <div class="flex-item">
            @{ 
                name = item?.Name ?? "No Product";
                price = item?.Price ?? 0;
                related = item?.RelatedProduct?.Name ?? "None";
            }
            <h2>@name</h2>
            <p>@string.Format("Price: {0:c}", price)</p>
            <p>@string.Format("Related: {0}", related)</p>
        </div>

    }
</section>

